:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #0584fe;
  --color-quaternary: #bcbcbc;
  --color-accent: #8f8f8f;
  --color-text-accent: #1253a2;
  --color-card: #fbfcfd;
  --color-topic: #383838;
}