$wrapper-padding: 25px;
$wrapper-width: 1160px;

$Clamp-1160_41-320_24: clamp(1.5rem, 1.095rem + 2.02vw, 2.563rem);
$Clamp-1160_34-320_20: clamp(1.25rem, 0.917rem + 1.67vw, 2.125rem);
$Clamp-1160_27-320_18: clamp(1.125rem, 0.911rem + 1.07vw, 1.688rem);
$Clamp-1160_25-320_05: clamp(0.313rem, -0.164rem + 2.38vw, 1.563rem);
$Clamp-1160_16-320_13: clamp(0.813rem, 0.741rem + 0.36vw, 1rem);